.navbar {
    display: flex;
    background: linear-gradient(
        90deg,
        rgba(255, 88, 88, 1) 0%,
        rgba(252, 88, 125, 1) 42%,
        rgba(246, 87, 167, 1) 100%
    );
    flex-wrap: nowrap;

    .nav-items {
        display: flex;
        color: white;
        overflow: hidden;
    }

    .nav-title {
        display: flex;
        justify-content: center;
        vertical-align: middle;

        h1 {
            margin: 0;
            font-family: 'Monoton', cursive;
            font-size: 3vw;
            word-spacing: 10px;
            color: white;
        }
    }
    .nav-right {
        display: flex;
        justify-content: flex-end;
    }
}
